config ZIGBEE_DRIVER
	tristate "ZigBee driver"
	default n
	---help---
	  Say Y here to enable the BRCM ZigBee device driver.

          This driver can also be built as a module. To do so say M here.
	  The module will be called 'zigbee_drv'.
